/* FONT (From Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
:root {
  --main-font: "Eagle Lake", serif;

}

/* BACKGROUND */
body {
	background: url('https://images.pexels.com/photos/2099737/pexels-photo-2099737.jpeg') center center fixed;
	background-size: 100%;
	font-family: 'Quicksand', sans-serif;
	color: #fff9f7;}
}

/* MAIN PANEL */
@media only screen and (max-width: 767px) {.container.main .hidden-xs {display: block !important;}}
@media only screen and (max-width: 991px) and (min-width: 768px) {display: block !important;}
@media only screen and (min-width: 1200px) {div.quote {width: 790px;}}
.container.main {
	background: linear-gradient(90deg, rgba(213,160,149,0.9) 0%, rgba(233, 202, 189,0.85) 30%, rgba(233, 202, 189,0.85) 70%, rgba(213,160,149,0.9) 100%);
	border: 1px solid #af6657;
	box-shadow: 0 0 55px #ead2d2;
	border-radius: 3px;
}

.col-md-9 {
	background: none;
    border-right: none;
}

/* TOPBAR, NAVBAR */
:root {
  --primary-color: #c8705e;
  --secondary-color: #ead3cb;
  --middle-color: #D28A79;
  --flat-color: #DFAD9E;
  --font-color: #fff9f7;
  --border-color: #f7f1ef;
}
:root {
  --overlay-image: url('https://i.ibb.co/ksQkfM9Q/peedals.png');
}
.topbar,.navbar,.panel {
    color: var(--font-color); 
    font-family: 'Quicksand', sans-serif;
}
.topbar {
	background: var(--overlay-image) repeat center center, linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 80%);
	border: 1px solid var(--border-color);
	border-top: none;
	border-radius: 10px;
}
.navbar {
	background: var(--overlay-image) repeat center center, linear-gradient(270deg, var(--primary-color) 0%, var(--secondary-color) 80%);
	border-bottom: 1px solid var(--border-color);
	border-radius: 3px;
}
.navbar li a {
	color: #fff9f0 !important;
    text-shadow: 0px 0px 3px #E0D7CB !important;
    transition: 0.2s;
}
.navbar li a:hover {
    background: none !important;
    transform: scale(1.15);
}

/* Sidebar Arrow Replacers */

/* First Arrow (Top) */
div.col-xs-6 > a > h3 > div {
content:url('https://www.lioden.com/images/items/Other/fuschiaflower.png');
    position:absolute;
    width:70px;
	margin-right: 50px;	
	right: -50px;
	margin-top: -35px;
	z-index:3
}
 
/* Second Arrow (Middle)*/
 
div.col-xs-5> a:nth-child(1) > h3 > div {
    content:url('https://www.lioden.com/images/items/Other/YohimbeBark.png');
    position:absolute;
    width:60px;
	margin-right: 55px;	
	right: -50px;
    margin-top: -40px;
	z-index:4
}
/* Third Arrow (Bottom) */
div.col-xs-5> a:nth-child(3) > h3 > div {
content:url('https://www.lioden.com/images/items/Other/stick.png');
    position:absolute;
    width:70px;
	margin-right: 50px;	
	right: -50px;
	margin-top: -35px;
	z-index:5
}


/* SIDE PANEL */

div.panel:nth-child(1){
	color: var(--font-color) !important; 
	border: 1px solid var(--border-color);
	border-radius: 15px; 
	background: url('https://i.ibb.co/HfYLHcm1/image.png') 20% !important;
    background-size: cover !important;
	filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7)) !important;

}

div.panel:nth-child(2){
    background: var(--overlay-image) repeat center center, linear-gradient(45deg, var(--middle-color) 0%, var(--flat-color) 50%, var(--secondary-color) 100%) !important;
	filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7));
	border: 1px solid var(--border-color) !important;
	border-radius: 15px;
    color: var(--font-color) !important; 
}

div.col-md-12:nth-child(1) > div:nth-child(4){
	color: var(--font-color) !important; 
	border: 1px solid var(--border-color);
	border-radius: 15px; 
	background: url('https://i.ibb.co/v4S4BwQQ/image.png') 0 10% !important;
    background-size: cover !important;
	filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7)) !important;
    
}

div.panel:nth-child(4) {
    color: var(--font-color) !important; 
	border: 1px solid var(--border-color);
	border-radius: 15px; 
	background: url('https://i.ibb.co/KcrR28L6/image.png') 30% !important;
    background-size: cover !important;
	filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7)) !important;
}

div.visible-md:nth-child(3) > div:nth-child(2){
	color: var(--font-color) !important; 
	border: 1px solid var(--border-color);
	border-radius: 15px; 
	background: url('https://i.ibb.co/3mfLJjLB/image.png') 0% 0% !important;
    background-size: cover !important;
	filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7)) !important;
}

.progress {
	background: #FFF9F0; /*energy bar background*/
	border-radius: 20px !important;
}
.progress div {
	color: #641414 !important;
}
.progress:nth-child(1) .progress-bar {
    background: rgba(217,153,153,1);
    border-radius: 5px !important
}
.progress:nth-child(2) .progress-bar {
    background: rgba(217,153,153, .8);
    border-radius: 5px !important
}
.progress:nth-child(3) .progress-bar {
    background: rgba(217,153,153, .5);
    border-radius: 5px !important
}
.progress:nth-child(4) .progress-bar {
    background: rgba(217,153,153, .3);
    border-radius: 5px !important
}

/* BREADCRUMB, BOOKMARK */
.breadcrumb {
	background: #d99999;
    border: 1px solid var(--border-color);
    filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.6));
	border-radius: 10px;
}
.breadcrumb .active {
	color: #641414;
}
.breadcrumb::after {
    content: "‧⚘ 𝘵𝘩𝘦𝘳𝘦'𝘴 𝘯𝘰 𝘥𝘪𝘴𝘤𝘩𝘢𝘳𝘨𝘦 𝘪𝘯 𝘵𝘩𝘦 𝘸𝘢𝘳 .ᐟ";
    color: var(--font-color);   
    position: absolute;
    right: 13%;
    z-index: 100;
}
input.floatright { /*bookmark*/
	background: #D6988A !important;
	border: 1px solid #e4cdc8 !important;
	color: #f7e6e2 !important;
	border-radius: 15px !important;
    font-weight: normal !important;
     filter: drop-shadow(2px 2px 2px rgba(136,84,67,0.3));
}
@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%;
        }
    }

/* HEADERS */
h1 {
    font-size: 60px;
    background: -webkit-linear-gradient(270deg, #f3d1d1 0%, #ecc8c8 50%, #e6b5b5 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.2px rgba(245,228,228,0.3);
    font-family: var(--main-font);
    text-transform: uppercase;
	text-align: center;
    text-decoration: none;
    filter: drop-shadow(3px 3px 2px rgba(136,84,67,0.6));
}
h2 {
	color: #e6b5b5;
    font-family: var(--main-font);
	font-size: 24px;
	text-align: center;
      filter: drop-shadow(2px 2px 2px rgba(43,14,5,0.7)) ;
}

h3 {
	color: #f7dcdc !important;
    font-family: var(--main-font);
	font-size: 20px !important
        
}
.sidebar h3 {
    background: -webkit-linear-gradient(270deg, #f3d1d1 0%, #ecc8c8 50%, #e6b5b5 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 0.4px rgba(245,228,228,0.3);
    font-size: 20px !important;
	text-align: left;
    text-decoration: none; 
     filter: drop-shadow(2px 2px 2px rgba(136,84,67,0.7)) ;
}

/* ALERTS */
.alert {
	background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%);
	border: 1px solid var(--border-color);
	color: var(--font-color);
	border-radius: 10px !important;
}
.alert-warning,.alert-danger {
	background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%);
	color: var(--font-color);
	border-radius: 10px !important;
}

/* BUTTONS, FAPA */
button.button, button.button:hover,.btn-default {
	background: var(--flat-color) !important;
    color: var(--font-color) !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 19px !important;
    text-shadow: none !important;
    filter: drop-shadow(5px 5px 2px rgba(136,84,67,0.7));
}
.feature { 
	background: var(--flat-color) !important;
	color: var(--font-color);
	border: 1px solid var(--border-color)!important;
	border-radius: 10px;
}
.feature,
div.left {
	background: var(--flat-color);
	border: 1px solid var(--border-color);
	border-radius: 5px !important;
}
input#btnToggleSidebarChat {
	background: var(--flat-color) !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 2px !important;
    font-weight: normal !important;
}

/* PANEL BACKGROUND COLOR */
.table {
	background: url('https://i.ibb.co/cKP49tCz/image.png');
	border: 1px solid #eedad5 !important;
	border-collapse: separate;
	border-radius: 3px;
    filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7));
    background-size: cover !important;
}

#clans {
	background: url('https://i.ibb.co/d0yFZwR4/image.png');
	border: 1px solid #eedad5 !important;
	border-collapse: separate;
	border-radius: 3px;
    filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7));
    background-size: cover !important;
}

table#player.table > tbody{
	background: url('https://i.ibb.co/d0yFZwR4/image.png') !important;
	border: 1px solid #eedad5 !important;
	border-collapse: separate;
	border-radius: 3px;
    filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7));
    background-size: cover !important;
}
/* HEADERS COLOR */
.top,.bottom,th {
	background: var(--overlay-image) repeat center center, linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%)!important;
	color: var(--font-color) !important;
	border-radius: 3px;
 	border-bottom: 1px solid var(--border-color) !important;
}
td.bottom a {
    text-decoration: none !important;
}
hr {
    visibility: hidden;
}

/* EDIT DETAILS BOX */
.table .left {
	background: #c48373;
    color: #f1ddd8 !important;
}
input,select,textarea { 
	background: #f3e2de !important;
	border: none !important;
	border-radius: 5px;
	box-shadow: none !important;
	color: black !important;
	text-shadow: none !important;
}

/* MAIN PANELS */
.inner-table .left { /*level, stats, etc.*/
	background: #D99999 !important; 
	border-radius: 5px;
    color: #FFF9F0 !important;
    
    
}
.inner-table .right { /*where the numbers and stuff go*/
	background: #FFF9F0;
	border-radius: 5px !important;
    color: rgb(153,82,82) !important;
      -webkit-text-stroke: 0.1px rgba(153,82,82,0.9);
     filter: drop-shadow(2px 2px 2px rgba(58,22,10,0.9));
}
td.right {
	border-radius: 3px !important;
}
.right_odd {
	background: none !important;
}
#clans .left {
    visibility: hidden;
}
.bigger img {
    filter: drop-shadow(5px 5px 5px rgba(58,22,10,0.9));
}
#allies .left {
     visibility: hidden;
}

/* LINKS & LINK HOVER COLOR */
a:link,a:visited {
	color: #fff4f4 !important;
}
.top a, .bottom a, .th a {
    color: #fff4f4 !important;
      filter: drop-shadow(1px 1px 1px rgba(58,22,10,0.3));
}
.cave-grid a, .mound-grid a {
    color: #fff4f4 !important;
      filter: drop-shadow(1px 1px 1px rgba(58,22,10,0.3));
}
a:hover {
	color: #f4b2b2 !important;
}


/* BOX CONTAINER */

    @media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
    }

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}

/* BOXES */
.Box1 {
	float: left;
	background: linear-gradient(180deg, rgba(115,65,40,0.85) 0%, rgba(111,61,36,0.85) 50%, rgba(80,48,34,0.85) 100%);
	color: #f7e5e5;
	padding: 10px;
	border: 1px solid #f5e2e2;
	border-radius: 5px;
	margin: 10px;
	overflow: auto;
	height: auto;
	max-height: 250px;
	width: 250px;
	margin-bottom: 15px;
}
.Box2 {
	float: left;
	background: linear-gradient(180deg, rgba(115,65,40,0.85) 0%, rgba(111,61,36,0.85) 50%, rgba(80,48,34,0.85) 100%);
	color: #f7e5e5;
	padding: 10px;
	border: 1px solid #f5e2e2;
	border-radius: 10px;
	margin: 10px;
	height: auto;
	max-height: 250px;
	width: 385px;
	overflow: auto;
}
.Box3 {
	float: left;
	background: linear-gradient(180deg, rgba(115,65,40,0.85) 0%, rgba(111,61,36,0.85) 50%, rgba(80,48,34,0.85) 100%);
	color: #f7e5e5;
	padding: 10px;
	border: 1px solid #f5e2e2;
	border-radius: 10px;
	margin: 10px;
	height: auto;
	max-height: 300px;
	width: 790px;
	overflow: auto;
}
.BoxTopper {
	background: none;
	color: none;
	padding: 0px;
	border: none;
	margin: 0px;
	width: 400px;
	position: relative;
	bottom: 20px;
	left: 40px;
	z-index: 1;
	overflow: hidden;
	margin-bottom: -75px;
	margin-right: 80px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
	width: 12px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
	background: #6B4839;
	border-radius: 0px;
}

/* CIRCULAR LION AND USER AVATAR */
div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 10px;
    border: 1px solid var(--border-color);
    
}

div#lion_image::after{
    content: url('https://i.ibb.co/84SzH6n2/image.png');
    position: absolute;
    opacity: 100%;
    transform: scale(0.78) !important;
    left: -79px;
    top: -75px;
    z-index: 100 !important;
    filter: sepia(80%);
}
table#player img {
	border-radius: 0% !important;
	overflow: hidden;
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", etc. and cave/mound names */
.cave-grid,.mound-grid {
	background: linear-gradient(180deg, var(--flat-color) 0%, var(--secondary-color) 100%) !important;
	border: 1px solid var(--border-color) !important;
    color: var(--font-color) !important;
	border-radius: 5px !important;
    filter: drop-shadow(5px 5px 5px rgba(136,84,67,0.7));
}

/* CAVES AND MOUNDS */
img[src$="//static.lioden.com/images/layout/unsortedlionsbanner.png"] {
    content: url('https://www.lioden.com/images/items/Other/cherryblossombase.png') !important;
    height:80px;
    width: 80px; 
}
img[src$="//static.lioden.com/images/layout/nestingbanner.png"] {
    content: url('https://www.lioden.com/images/items/Other/app_peachbase.png') !important;
    height:80px;
    width: 80px;
}
img[src$="//static.lioden.com/images/layout/prideoverviewbanner.png"] {
    content: url('https://www.lioden.com/images/items/Other/app_rosepink_base.png') !important;
    height:80px;
    width: 80px;
}
img[src$="//static.lioden.com/images/layout/cavedefault.jpg"] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/BF_JG.png') !important;
    height:100px;
   	object-fit: cover;
   	object-position: 0% 0;
   	min-width: 0 !important;
   	width: 100% !important;
}
.mound-grid img {
    background: url("https://www.lioden.com/images/items/Beetles/EVENTBEETLE_beetledeilephilaporcellus.png");
    width: 0;
    height: 0;
    padding-top: 80px;
    padding-right: 100px;
}

/* COMMENT BOX*/
div#commentBox, div.comment {
    background: #F3E2DE !important;
    color: #6E4839;
    border: 1px solid rgba(198,158,178,0.2);
}
small.text-muted {color: #60545a;}
small.text-muted a {color: #60545a !important;
}
#commentBox::before { /*comment box header*/
    content: "message here";
    background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color)100%);
    font-weight: bold;
    color: var(--font-color);
    width: 100%;
    height: 35px;
    display: block;
    padding-top:7px !important;
    position: sticky!important;
    top: 0px;
}
div#commentBox {
    background: #F3E2DE !important;
    height: 35px;
    overflow-y: hidden !important;
    transition: 1s;
}
#commentBox:hover {
    height: 225px !important;
    overflow-y: scroll !important;
    transition: 1s;
}

img[src$="default.png"] {
    content: url("https://static.lioden.com/images/dynamic/backgrounds/BF_JG.png"); 
}

/* IMAGES */
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img { /*lioden logo*/ 
	content: url('https://i.ibb.co/rffN2v2w/image.png');
    margin-top: -17px;
    transition: transform .9s ease-in-out !important;
}
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img:hover {
    transform: rotate(-360deg);
     transition-duration: 0.9s;
      filter: none !important;
}
.navbar::after{
  content: url('https://i.ibb.co/kVFT2S9f/image.png');
  position: absolute;
  z-index: 100;
  right: -340px;
  top: -390px;
  transform: scale(.2);  
}
#player .top::before{
  content: url('https://i.ibb.co/zHJj0LfS/image.png');
  position: absolute;
  z-index: 100;
  left: -45px;
  top: 30px;
  transform: scale(.75);  
}
.container.main::after {
content: "";
background-image: url('https://i.ibb.co/1Jq5JVwT/image.png');
background-size: cover;
position: fixed;
display: block;
height:225px;
width:245px;
right: 5px;
bottom: 5px;
z-index: 100;
pointer-events:none;
    filter: drop-shadow(5px 5px 3px rgba(77,29,15,0.4));
}

img[src$="icon-beetle-gold.png"] {
    content: url("https://i.ibb.co/LXTnRcK3/beeb.png") !important;
    width: 20px !important;
}
img[src$="icon-beetle-silver.png"] {
    content: url("https://i.ibb.co/99kb116T/beadsd.png") !important;
    width: 20px !important;
}
img[src$="den_ancestors.png"] {
    content:url('https://static.wolvden.com/images/items/lore/snakemouthorchid.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
    
}
img[src$="ancestorsfem.png"] {
    content:url('https://static.wolvden.com/images/items/lore/pelicanflower.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
img[src$="den_achievements.png"] {
    content:url('https://static.wolvden.com/images/items/lore/tularelavenderiris.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
img[src$="den_showcase.png"] {
    content:url('https://static.wolvden.com/images/items/lore/arcticdraba.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
img[src$="den_beetlebook.png"] {
    content:url('https://static.wolvden.com/images/items/lore/siskyouiris.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
