/* FONT (From Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
:root {
  --main-font: "Merienda", cursive;
}

/* BACKGROUND */
body {
	background: url('https://i.imgur.com/aHlweQl.jpeg') center center fixed;
	background-size: 100%;
	font-family: 'Quicksand', sans-serif;
	color: var(--font-color); 
}

/* MAIN PANEL */
@media only screen and (max-width: 767px) {.container.main .hidden-xs {display: block !important;}}
@media only screen and (max-width: 991px) and (min-width: 768px) {display: block !important;}
@media only screen and (min-width: 1200px) {div.quote {width: 790px;}}
.container.main {
	background: linear-gradient(90deg, rgba(39,20,7,0.9) 0%, rgba(88, 51, 22,0.85) 30%, rgba(88, 51, 22,0.85) 70%, rgba(39,20,7,.9) 100%);
	border: 1px solid #000000;
	border-radius: 3px;
}
.col-md-9 {
	background: none;
    border-right: none;
}

/* TOPBAR, NAVBAR */
:root {
  --primary-color: #a06d32 ;
  --secondary-color: #dbb982 ;
  --middle-color: #a06d32;
  --flat-color: #CBA570;
  --font-color: #ece4d5;
  --border-color: #e6d0ad;
}
:root {
  --overlay-image: url('https://i.imgur.com/gum6iLQ.png');
}
.topbar,.navbar,.panel {
    color: var(--font-color); 
    font-family: 'Quicksand', sans-serif;
}
.topbar {
	background: var(--overlay-image) repeat center center, linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 80%);
	border: 1px solid var(--border-color);
	border-top: none;
	border-radius: 10px;
}
.navbar {
	background: var(--overlay-image) repeat center center, linear-gradient(270deg, var(--primary-color) 0%, var(--secondary-color) 80%);
	border-bottom: 1px solid var(--border-color);
	border-radius: 3px;
}
.navbar li a {
	color: #f7ecdb !important;
    text-shadow: 0px 0px 3px #947c58 !important;
    transition: 0.2s;
}
.navbar li a:hover {
    background: none !important;
    transform: scale(1.15);
}

/* SIDE PANEL */
.panel {
	background: var(--overlay-image) repeat center center, linear-gradient(45deg, var(--middle-color) 0%, var(--flat-color) 50%, var(--secondary-color) 100%) !important;
	box-shadow: none !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 15px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7)) !important;
}
.panel-body {
    color: var(--font-color) !important; 
}
.progress {
	background: #926735; /*energy bar background*/
	border-radius: 20px !important;
}
.progress div {
	color: #4b3012  !important;
}
.progress:nth-child(1) .progress-bar {
    background: linear-gradient(270deg, rgba(221,198,159,0.8) 0%, rgba(221,198,159,0.5) 50%, rgba(221,198,159,0.2) 100%);
    border-radius: 5px !important
}
.progress:nth-child(2) .progress-bar {
    background: linear-gradient(270deg, rgba(221,198,159,0.8) 0%, rgba(221,198,159,0.5) 50%, rgba(221,198,159,0.2) 100%);
    border-radius: 5px !important
}
.progress:nth-child(3) .progress-bar {
    background: linear-gradient(270deg, rgba(221,198,159,0.8) 0%, rgba(221,198,159,0.5) 50%, rgba(221,198,159,0.2) 100%);
    border-radius: 5px !important
}
.progress:nth-child(4) .progress-bar {
    background: linear-gradient(270deg, rgba(221,198,159,0.8) 0%, rgba(221,198,159,0.5) 50%, rgba(221,198,159,0.2) 100%);
    border-radius: 5px !important
}

/* BREADCRUMB, BOOKMARK */
.breadcrumb {
	background: #B88C51;
    border: 1px solid var(--border-color);
	border-radius: 10px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5)) !important;
}
.breadcrumb .active {
	color: #4d3311;
}
.breadcrumb::after {
    content: "𝒕𝒉𝒂𝒕'𝒔 𝒍𝒆𝒇𝒕, 𝒓𝒊𝒈𝒉𝒕, 𝒍е𝒇𝒕, 𝒓𝒊𝒈𝒉𝒕, 𝒍𝒆𝒇𝒕, 𝒓𝒊𝒈𝒉𝒕, 𝒈𝒐";
    color: var(--font-color);   
    position: absolute;
    right: 13%;
    z-index: 100;
}
/*"Lion's Player" replacement content*/
#player > tbody > tr:nth-child(1) > td > small{
font-size: 0px
}
#player > tbody > tr:nth-child(1) > td > small::after {
content: "𝒈𝒐𝒕 𝒂 𝑹𝒐𝒍𝒍𝒊𝒆 𝒇𝒐𝒓 𝒕𝒉𝒆 𝒃𝒓𝒖𝒏𝒄𝒉 𝒂𝒏𝒅 𝒂 𝑷𝒂𝒕е𝒌 𝒇𝒐𝒓 𝒕𝒉𝒆 𝒔𝒉𝒐𝒘";
font-size: 13px !important;
color: var(--font-color) !important;
}
input.floatright { /*bookmark*/
	background: #A37740 !important;
	border: none !important;
	color: #ddd4c7 !important;
	border-radius: 15px !important;
    font-weight: normal !important;
	filter: drop-shadow(2px 2px 2px rgba(62,34,5,0.5)) !important;
}
@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%;
        }
    }

/* HEADERS */
h1 {
	font-size: 0px;
    text-align: center;
}
h1::before {
     content: "la boulangerie";
    font-size: 60px;
    background: -webkit-linear-gradient(270deg, #ddb380 0%, #B1824B 60%, #64431b 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(219,187,148,0.5);
    font-family: var(--main-font);
    text-transform: uppercase;
	text-align: center;
    text-decoration: none;
	filter: drop-shadow(3px 3px 3px rgba(28,15,2,0.9)) !important;
}
h2 {
	 background: -webkit-linear-gradient(270deg, #ddb380 0%, #B1824B 60%, #64431b  100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 0.4px rgba(219,187,148,0.5);
    font-family: var(--main-font);
	font-size: 24px;
	text-align: center;
	filter: drop-shadow(2px 2px 2px rgba(28,15,2,0.9)) !important;
}
h3 {
	color: #64431b !important;
    font-family: var(--main-font);
	font-size: 20px !important
}
.sidebar h3 {
    background: -webkit-linear-gradient(270deg, #ddb380 0%, #B1824B 60%, #64431b  100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 0.4px rgba(219,187,148,0.5);
    font-size: 20px !important;
	text-align: left;
    text-decoration: none; 
	filter: drop-shadow(2px 2px 2px rgba(28,15,2,0.9)) !important;
}

/* ALERTS */
.alert {
	background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%);
	border: 1px solid var(--border-color);
	color: var(--font-color);
	border-radius: 10px !important;
}
.alert-warning,.alert-danger {
	background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%);
	color: var(--font-color);
	border-radius: 10px !important;
}

/* BUTTONS, FAPA */
button.button, button.button:hover,.btn-default {
	background: var(--flat-color) !important;
    color: var(--font-color) !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 19px !important;
    text-shadow: none !important;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7)) !important;
}
.feature { 
	background: var(--flat-color) !important;
	color: var(--font-color);
	border: 1px solid var(--border-color)!important;
	border-radius: 10px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7)) !important;
}
.feature,
div.left {
	background: var(--flat-color);
	border: 1px solid var(--border-color);
	border-radius: 5px !important;
}
input#btnToggleSidebarChat {
	background: var(--flat-color) !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 2px !important;
    font-weight: normal !important;
}

/* PANEL BACKGROUND COLOR */
.table {
	background: linear-gradient(180deg, #49301c 0%, #62442c 50%, #79583D 100%);
	border: 1px solid #1c0e02 !important;
	border-collapse: separate;
	border-radius: 3px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5)) !important;
}
hr {
    visibility: hidden;
}

/* HEADERS COLOR */
.top,.bottom,th {
	background: var(--overlay-image) repeat center center, linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%)!important;
	color: var(--font-color) !important;
	border-radius: 3px;
 	border-bottom: 1px solid var(--border-color) !important;
}
td.bottom a {
    text-decoration: none !important;
}

/* EDIT DETAILS BOX */
.table .left {
	background: #49301c;
    color: #b19971 !important;
}
input,select,textarea { 
	background: #DDC69F !important;
	border: none !important;
	border-radius: 5px;
	box-shadow: none !important;
	color: black !important;
	text-shadow: none !important;
}

/* MAIN PANELS */
.inner-table .left { /*level, stats, etc.*/
	background: linear-gradient(90deg, rgba(71,49,29,0.9) 0%, rgba(85, 60, 38,0.9) 50%, rgba(107,79,55,0.9) 100%); !important
	border-radius: 5px;
    color: #DDC69F !important;
}
.inner-table .right { /*where the numbers and stuff go*/
	background: #DDC69F;
	border-radius: 5px !important;
    color: #4F3723 !important;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7)) !important;
}
td.right {
	border-radius: 3px !important;
}
.right_odd {
	background: none !important;
}
#clans .left, #allies .left {
    visibility: hidden;
}
#sparring {
    height: 35px !important;
    display: flex;
    overflow-y: hidden !important;
    transition: 1s;  
}
.feature select {
      position: relative;
    top: -30px;
}
.feature {
    height: 80px;
}
.feature input{
    position: relative;
    top: -30px;
}
#sparring:hover {
    height: 160px!important;
    overflow-y: hidden !important;
    transition: 1s;
}
center > b {
    visibility: hidden;
}
.feature .xsmall {
    display: none;
}
.bigger img {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
/* LINKS & LINK HOVER COLOR */
a:link,a:visited {
	color: #3c230e  !important;
}
.top a, .bottom a, .th a {
    color: #885c34  !important;
}
.cave-grid a, .mound-grid a {
    color: #885c34  !important;
}
a:hover {
	color: #eed8c4  !important;
}

/* BOX CONTAINER */

    @media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
    }

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}

/* SCROLL BAR */
::-webkit-scrollbar {
	width: 12px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
	border-radius: 10px;
}

/* CIRCULAR LION AND USER AVATAR */
div#lion_image {
	border-radius: 20% !important;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 10px;
    border: 1px solid var(--border-color);
}
table#player img {
	border-radius: 0% !important;
	overflow: hidden;
}

/* CAVE CODE BY FELID #114852 */
#fraOrganizationBlock {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}
#fraOrganizationBlock > div:nth-child(1) > a > div {
    width: 150px;
    height: 110px;
    color: #b39e84;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(90deg, rgba(71,49,29,0.9) 0%, rgba(85, 60, 38,0.9) 50%, rgba(107,79,55,0.9) 100%); !important
    margin-top: 0px !important; 
    border: none;
   filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7)) !important;
}
#fraOrganizationBlock > div:nth-child(2) > div, #fraOrganizationBlock > div:nth-child(2) > a > div {
    width: 150px;
    height: 110px;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7)) !important;
    color: #b39e84;
    padding: 9px;
    margin: 10px;
      border: none;
    background: linear-gradient(90deg, rgba(71,49,29,0.9) 0%, rgba(85, 60, 38,0.9) 50%, rgba(107,79,55,0.9) 100%); !important
}
#fraOrganizationBlock > div:nth-child(3) > a > div {
    width: 150px;
    height: 110px;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7)) !important;
    color: #b39e84;
    padding: 10px;
    margin: 10px;
      border: none;
    background: linear-gradient(90deg, rgba(71,49,29,0.9) 0%, rgba(85, 60, 38,0.9) 50%, rgba(107,79,55,0.9) 100%); !important
}

/*KILL EXTRA UNSORTED BUTTON*/ #pride:nth-child(5) {
    display: none;
}
.cave-grid {
    transition: 0.2s;
}
.cave-grid:hover {
    transform: scale(1.05);
}
#pride th {
    background: linear-gradient(270deg, var(--middle-color) 0%, var(--flat-color) 50%, var(--secondary-color) 100%)!important;
    width: 1000px;
     border: 1px solid var(--border-color);
    position: sticky;
    top: 0px;
    margin-top: 0px !important;
    z-index: 999;
    font-size: 15px;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7)) !important;
}
#fraCaveList > table {
    height: 40px !important;
    overflow: hidden !important;
    transition: 0.2s; 
    display: block;
   border: none !important;
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.55)) !important;
}
#pride:nth-child(6) {
    display: none;
}
.mound-grid {
    display: none;
}
#fraCaveList {
    grid-area: 1 / 2 / 4 / 3;
}
img[src$="//static.lioden.com/images/layout/unsortedlionsbanner.png"] {
    content: url('https://www.serebii.net/pokemonsleep/berries/sitrusberry.png') !important;
    width: 50px;
}
img[src$="//static.lioden.com/images/layout/nestingbanner.png"] {
    content: url('https://www.serebii.net/pokemonsleep/berries/figyberry.png') !important;
    width: 50px;
}
img[src$="//static.lioden.com/images/layout/prideoverviewbanner.png"] {
    content: url('https://www.serebii.net/pokemonsleep/berries/leppaberry.png') !important;
    width: 50px;
}
@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}
@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}

/* COMMENT BOX*/
div#commentBox, div.comment {
    background: #DDC69F !important;
    color: #362913;
    border: 1px solid rgba(113,110,105,0.2);
}
small.text-muted {color: #4f3f23;}
small.text-muted a {color: #756343 !important;
}
#commentBox::before { /*comment box header*/
    content: "𝘤𝘢𝘳𝘦 𝘵𝘰 𝘱𝘭𝘢𝘤𝘦 𝘢𝘯 𝘰𝘳𝘥𝘦𝘳?";
    background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color)100%);
    font-weight: bold;
    color: var(--font-color);
    width: 100%;
    height: 35px;
    display: block;
    padding-top:7px !important;
    position: sticky!important;
    top: 0px;
}
div#commentBox {
    height: 35px;
    overflow-y: hidden !important;
    transition: 1s;
}
#commentBox:hover {
    height: 225px !important;
    overflow-y: scroll !important;
    transition: 1s;
}

.lionImage {
content: url("https://i.imgur.com/YCfX4Hg.png") !important;
 box-shadow: 0 0 15px #0d0601;
}

/* IMAGES */
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.imgur.com/NqM3bML.png');
    margin-top: -5px !important;
      transition-duration: 0.2s;    
}
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img:hover {
    transform: rotate(-7deg) scale(1.05);
     transition-duration: 0.2s;
}
img[src$="icon-beetle-gold.png"] {
content: url("https://i.ibb.co/XxRpGc2V/image.png") !important;
width: 20px !important;
height: 20px !important;
}

img[src$="icon-beetle-silver.png"] {
content: url("https://i.ibb.co/XxRpGc2V/image.png") !important;
width: 20px !important;
    height: 20px !important;
filter: grayscale(0.7);
}
.dynastylist {
    width: 20%;}
img[src$="den_ancestors.png"] {
    content:url('https://static.lioden.com/images/items/Decoration/impressadoreeducat.png')!important;
    width:60px!important; 
    height:60px !important;
    background:none!important;
}
img[src$="ancestorsfem.png"] {
    content:url('https://static.lioden.com/images/items/Decoration/excitedfan.png')!important;
    width:60px!important; 
    height:60px !important;
    background:none!important;
}
img[src$="den_achievements.png"] {
    content:url('https://static.lioden.com/images/items/Decoration/cheeringfan.png')!important;
   width:60px!important; 
    height:60px !important;
    background:none!important;
}
img[src$="den_showcase.png"] {
    content:url('https://static.lioden.com/images/items/Decoration/ambitiousyoungster.png')!important;
   width:60px!important; 
    height:60px !important;
    background:none!important;
}
img[src$="den_beetlebook.png"] {
    content:url('https://static.lioden.com/images/items/Decoration/cowardlionbrown.png')!important;
   width:60px!important; 
    height:60px !important;
    background:none!important;
}
/* --- BOX CODE BY FELID #114852 ---*/
/*BOX WRAPPER*/ .boxwrapper {
    background: url('https://i.ibb.co/0VKvYsRk/hm.png') center center fixed;
    font-size: 16px;
    border-radius: 5px;
}

/*BOX HEADER*/ .boxcontainer1 {
    color: #DDC69F !important;
	background: linear-gradient(90deg, #2d1802 0%, #553a1e 50%, #2d1802 100%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #6b533c;
    border-bottom: none;
	justify-content: center;
	display: flex;
}

/*BOX HEADER CONTENT*/ .box1 {
    color: #e6dac5 !important;
	float: left;
	background: transparent;
	border: none;;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	min-height: 50px;
	width: 70%;
	overflow: auto;
}

/*BOX HEADER - H2 TEXT EDITS*/
/*you can delete this if you dont want to use h2*/
.boxcontainer1 h2 {
    font-size: 20px !important; margin: 0px; 
}

/*BOX MAIN/MIDDLE*/ .boxcontainer2 {
    background: transparent;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 50px;
    justify-content: center;
    column-gap: 10px;
}

/*BASE BREEDER BUTTON CONTAINMENT*/ .box2 {
	background: none;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	min-height: 50px;
	width: 100%;
	overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 999;
}

/*LEFT BOX*/ .box3 {
	background: linear-gradient(0deg, #331c04 0%, #553a1e 50%, #735434 100%);
    color: #DDC69F;
    border: none;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	min-height: 50px;
	width: 100%;
	overflow: auto;
    scrollbar-color: #fff #000;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

/*RIGHT BOX*/ .box4 {
	background: linear-gradient(0deg, #331c04 0%, #553a1e 50%, #735434 100%);
    color: #DDC69F;
    border: none;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	min-height: 50px;
	overflow: auto;
    scrollbar-color: #c18d5e #361F06;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-content: center;
}

/*FOOTER*/ .buttoncontainer {
    background: url('https://i.ibb.co/jkrdM2Xv/sada.png') center center fixed;
    width: 100%;
	padding-bottom: 15px;
    padding-top: 5px;
    overflow: auto;
	display: flex;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #9c7f64;
}

/*BUTTONS*/ .button1 a{
    background: linear-gradient(0deg, #a0723c 0%, #B58750 60%, #CCA06B 100%);
    color: #3E260E !important; 
    font-size: 16px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    border-top: 1px solid #d3c2b0;
}

.button1 a:hover{
color: #dbc5a8 !important; 
}

/*SQUISHY IMAGE*/
.funnyimage {
    position: absolute;
    right: 1vmax; /*ADJUST WITH IMAGE SIZE*/
    margin-top: -50px; /*ADJUST WITH IMAGE SIZE*/
    z-index: 9999;
    transition: 0.1s;
}

/*SQUISHY EFFECT*/ .funnyimage:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.funnyimage:active {
    transform: scale(1.30, 0.80);
}
.boxwrapper b {
    color: #000000;
}
/* --- END BOX CODE ---*/
