/* FONT (From Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
:root {
  --main-font: "Cherry Bomb One", system-ui;
}

/* BACKGROUND */
body {
	background: url('https://pbs.twimg.com/media/GbegBbbasAAVBCP.jpg') center center fixed;
	background-size: 100%;
	font-family: 'Quicksand', sans-serif;
	color: #4d290e; 
}

/* MAIN PANEL */
@media only screen and (max-width: 767px) {.container.main .hidden-xs {display: block !important;}}
@media only screen and (max-width: 991px) and (min-width: 768px) {display: block !important;}
@media only screen and (min-width: 1200px) {div.quote {width: 790px;}}
.container.main {
	background: linear-gradient(90deg, rgba(146,90,47,0.9) 0%, rgba(210,159,120,0.85) 20%, rgba(210,159,120,0.85) 80%, rgba(146,90,47,0.9) 100%);
	border: 1px solid #3f2b1c;
	box-shadow: 0 0 35px #210f02;
	border-radius: 3px;
}
.col-md-9 {
	background: none;
    border-right: none;
}

/* TOPBAR, NAVBAR */
:root {
  --primary-color: #bb969b;
  --secondary-color: #bbb08f;
  --middle-color: #BB9C99;
  --flat-color: #BBAB91;
  --font-color: #f7f3e9;
  --border-color: #e8d1d4;
}
:root {
  --overlay-image: url('https://i.ibb.co/kVDSDr15/harts.png');
}
.topbar,.navbar,.panel {
    color: var(--font-color); 
    font-family: 'Quicksand', sans-serif;
}
.topbar {
	background: var(--overlay-image) repeat center center, linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 80%);
	border: 1px solid var(--border-color);
	border-top: none;
	border-radius: 10px;
}
.navbar {
	background: var(--overlay-image) repeat center center, linear-gradient(270deg, var(--primary-color) 0%, var(--secondary-color) 80%);
	border-bottom: 1px solid var(--border-color);
	border-radius: 3px;
}
.navbar li a {
	color: #f7f3e9 !important;
    text-shadow: 0px 0px 3px #756742 !important;
    transition: 0.2s;
}
.navbar li a:hover {
    background: none !important;
    transform: scale(1.15);
}

/* SIDE PANEL */
.panel {
	background: var(--overlay-image) repeat center center, linear-gradient(45deg, var(--middle-color) 0%, var(--flat-color) 50%, var(--secondary-color) 100%) !important;
	box-shadow: none !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 15px;
	filter: drop-shadow(5px 5px 5px rgba(47,28,5,0.6)) !important;
}
.panel-body {
    color: var(--font-color) !important; 
}
.progress {
	background: rgb(253,234,201); /*energy bar background*/
	border-radius: 20px !important;
}
.progress div {
	color: #2f2a40 !important;
}
.progress:nth-child(1) .progress-bar {
    background: rgb(157,153,170);
    border-radius: 5px !important
}
.progress:nth-child(2) .progress-bar {
    background: rgba(157,153,170, .8);
    border-radius: 5px !important
}
.progress:nth-child(3) .progress-bar {
    background: rgba(157,153,170, .5);
    border-radius: 5px !important
}
.progress:nth-child(4) .progress-bar {
    background: rgba(157,153,170, .3);
    border-radius: 5px !important
}

/* BREADCRUMB, BOOKMARK */
.breadcrumb {
	background: #CDC2B9;
    border: 1px solid var(--border-color);
	border-radius: 10px;
	filter: drop-shadow(5px 5px 5px rgba(51,32,6,0.6)) !important;
}
.breadcrumb .active {
	color: #8d7f73;
}
.breadcrumb::after {
    content: " ◓⃙ css by coolio";
    color: var(--font-color);   
    position: absolute;
    right: 13%;
    z-index: 100;
}
input.floatright { /*bookmark*/
	background: #ccb4ac !important;
	border: none !important;
	color: #936f63 !important;
	border-radius: 15px !important;
    font-weight: normal !important;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4)) !important;
}
@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%;
        }
    }

/* HEADERS */
h1 {
    font-size: 60px;
    background: -webkit-linear-gradient(270deg, #eeddc4 0%, #F8C381 60%, #e28658 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.6px rgba(247,239,228,0.4);
    font-family: var(--main-font);
    text-transform: uppercase;
	text-align: center;
    text-decoration: none;
	filter: drop-shadow(3px 3px 3px rgba(68,37,9,0.7)) !important;
}
h2 {
	color: #9D99AA;
    font-family: var(--main-font);
	font-size: 24px;
	text-align: center;
}
h3 {
	color: #eeddc4 !important;
    font-family: var(--main-font);
	font-size: 20px !important
}
.sidebar h3 {
    background: -webkit-linear-gradient(270deg, #eeddc4 0%, #F8C381 60%, #e28658 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 0.4px rgba(247,239,228,0.4);
    font-size: 24px !important;
	text-align: left;
    text-decoration: none; 
	filter: drop-shadow(2px 2px 1px rgba(68,37,9,0.6)) !important;
}

/* ALERTS */
.alert {
	background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%);
	border: 1px solid var(--border-color);
	color: var(--font-color);
	border-radius: 10px !important;
}
.alert-warning,.alert-danger {
	background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%);
	color: var(--font-color);
	border-radius: 10px !important;
}

/* BUTTONS, FAPA */
button.button, button.button:hover,.btn-default {
	background: var(--flat-color) !important;
    color: var(--font-color) !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 19px !important;
    text-shadow: none !important;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5)) !important;
}
.feature { 
	background: var(--flat-color) !important;
	color: var(--font-color);
	border: 1px solid var(--border-color)!important;
	border-radius: 10px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5)) !important;
}
.feature,
div.left {
	background: var(--flat-color);
	border: 1px solid var(--border-color);
	border-radius: 5px !important;
}
input#btnToggleSidebarChat {
	background: var(--flat-color) !important;
	border: 1px solid var(--border-color) !important;
	border-radius: 2px !important;
    font-weight: normal !important;
}

/* PANEL BACKGROUND COLOR */
.table {
	background: linear-gradient(180deg, #b58155 0%, #dbb38f 50%, #e8c6a7 100%);
	border: 1px solid #000000 !important;
	border-collapse: separate;
	border-radius: 3px;
	filter: drop-shadow(5px 5px 5px rgba(49,26,6,0.5)) !important;
}
hr {
    visibility: hidden;
}

/* HEADERS COLOR */
.top,.bottom,th {
	background: var(--overlay-image) repeat center center, linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color) 100%)!important;
	color: var(--font-color) !important;
	border-radius: 3px;
 	border-bottom: 1px solid var(--border-color) !important;
}
td.bottom a {
    text-decoration: none !important;
}

/* EDIT DETAILS BOX */
.table .left {
	background: #BBA396;
    color: #fdf5f0 !important;
}
input,select,textarea { 
	background: #f3e5dd !important;
	border: none !important;
	border-radius: 5px;
	box-shadow: none !important;
	color: black !important;
	text-shadow: none !important;
}

/* MAIN PANELS */
.inner-table .left { /*level, stats, etc.*/
	background: #9D99AA !important; 
	border-radius: 5px;
    color: #f7ecda !important;
}
.inner-table .right { /*where the numbers and stuff go*/
	background: #FDEAC9;
	border-radius: 5px !important;
    color: #5b566b !important;
	filter: drop-shadow(2px 2px 2px rgba(58,29,8,0.7)) !important;
}
td.right {
	border-radius: 3px !important;
}
.right_odd {
	background: none !important;
}
#clans .left, #allies .left {
    visibility: hidden;
}
.bigger img {
    filter: drop-shadow(2px 2px 2px rgba(56,20,6,0.5));
}
/* LINKS & LINK HOVER COLOR */
a:link,a:visited {
	color: #554b3e !important;
}
.top a, .bottom a, .th a {
    color: #554b3e !important;
}
.cave-grid a, .mound-grid a {
    color: #554b3e !important;
}
a:hover {
	color: #f7f1e9 !important;
}

/* BOX CONTAINER */

    @media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
    }

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex;
}

/* BOXES */
.Box1 {
	float: left;
	background: linear-gradient(180deg, #FDEAC9 0%, #eecca7 50%, #e4bd92 100%);
	color: #774e1f;
	padding: 10px;
	border: 1px solid #f5ecdd;
	border-radius: 5px;
	margin: 10px;
	overflow: auto;
	height: auto;
	max-height: 250px;
	width: 250px;
	margin-bottom: 15px;
}
.Box2 {
	float: left;
	background: linear-gradient(180deg, #FDEAC9 0%, #eecca7 50%, #e4bd92 100%);
	color: #774e1f;
	padding: 10px;
	border: 1px solid #f5ecdd;
	border-radius: 10px;
	margin: 10px;
	height: auto;
	max-height: 250px;
	width: 385px;
	overflow: auto;
}
.Box3 {
	float: left;
	background: linear-gradient(180deg, #FDEAC9 0%, #eecca7 50%, #e4bd92 100%);
	color: #774e1f;
	padding: 10px;
	border: 1px solid #f5ecdd;
	border-radius: 10px;
	margin: 10px;
	height: auto;
	max-height: 300px;
	width: 790px;
	overflow: auto;
}

/* SCROLL BAR */
::-webkit-scrollbar {
	width: 12px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
	border-radius: 10px;
}

/* CIRCULAR LION AND USER AVATAR */
div#lion_image {
	border-radius: 20% !important;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 10px;
    border: 1px solid var(--border-color);
}
table#player img {
	border-radius: 0% !important;
	overflow: hidden;
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", etc. and cave/mound names */
.cave-grid,.mound-grid {
	background: linear-gradient(180deg, var(--flat-color) 0%, var(--secondary-color) 100%) !important;
	border: 1px solid var(--border-color) !important;
    color: var(--font-color) !important;
	border-radius: 5px !important;
    filter: drop-shadow(5px 5px 5px rgba(51,21,4,0.5));
}

/* CAVES AND MOUNDS */
img[src$="//static.lioden.com/images/layout/unsortedlionsbanner.png"] {
    content: url('https://i.ibb.co/20VGZJtS/image.png') !important;
    height:80px;
    width: 80px; 
}
img[src$="//static.lioden.com/images/layout/nestingbanner.png"] {
    content: url('https://i.ibb.co/Kjc2zwVx/ezgif-8bd1f048fe1550bc.png') !important;
    height:80px;
    width: 80px;
}
img[src$="//static.lioden.com/images/layout/prideoverviewbanner.png"] {
    content: url('https://i.ibb.co/Zp9Wwmnc/image.png') !important;
    height:80px;
    width: 80px;
}
img[src$="//static.lioden.com/images/layout/cavedefault.jpg"] {
    content: url('https://static.lioden.com/images/dynamic/backgrounds/glam_shop02.png') !important;
    height:100px;
   	object-fit: cover;
   	object-position: 0% 0;
   	min-width: 0 !important;
   	width: 100% !important;
}
.mound-grid img {
    background: url("https://i.ibb.co/wVPb0MG/image.png");
    width: 0;
    background-size: 60px !important; 
    background-repeat: no-repeat;
    background-size: cover;     
    height: 0;
    padding-top: 60px;
    padding-right: 60px;
}

/* COMMENT BOX*/
div#commentBox, div.comment {
    background: #f7e9d0 !important;
    color: #5e5871;
    border: 1px solid rgba(113, 105, 109,0.2);
}
small.text-muted {color: #706b82;}
small.text-muted a {color: #8b859c !important;
}
#commentBox::before { /*comment box header*/
    content: "leave a comment here!";
    background: linear-gradient(270deg, var(--middle-color) 0%, var(--secondary-color) 50%, var(--middle-color)100%);
    font-weight: bold;
    color: var(--font-color);
    width: 100%;
    height: 35px;
    display: block;
    padding-top:7px !important;
    position: sticky!important;
    top: 0px;
}
div#commentBox {
    height: 35px;
    background: #f7e9d0 !important;
    overflow-y: hidden !important;
    transition: 1s;
}
#commentBox:hover {
    height: 225px !important;
    overflow-y: scroll !important;
    transition: 1s;
}

img[src$="default.png"] {
    content: url("https://static.lioden.com/images/dynamic/backgrounds/glam_shop02.png"); 
}

/* IMAGES */
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img { /*lioden logo*/ 
	content: url('https://i.ibb.co/whgjdpf3/image.png');
    margin-top: -32px;
}
img[src$="icon-beetle-gold.png"] {
    content: url("https://i.ibb.co/fYNPmts8/asdfgh.png") !important;
    width: 20px !important;
}
img[src$="icon-beetle-silver.png"] {
    content: url("https://i.ibb.co/4RMxx3Ff/iajfiej.png") !important;
    width: 20px !important;
}
img[src$="den_ancestors.png"] {
    content:url('https://i.ibb.co/KtTygLM/image.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
img[src$="ancestorsfem.png"] {
    content:url('https://i.ibb.co/LXCy7SXK/image.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
img[src$="den_achievements.png"] {
    content:url('https://i.ibb.co/TMFnksy9/image.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
img[src$="den_showcase.png"] {
    content:url('https://i.ibb.co/Gvpk8hxW/image.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
img[src$="den_beetlebook.png"] {
    content:url('https://i.ibb.co/Ck05nBz/image.png')!important;
    width:75px!important; 
    height:75px !important;
    background:none!important;
}
